server:
  port: 8082

logging:
  level:
    org.springframework.cache: DEBUG
    org.springframework.data.redis: DEBUG

spring:
  application:
    name: order-service
  datasource:
    url: jdbc:mysql://localhost:3306/micro_demo?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: update
  spring:
    kafka:
      kafka:
        bootstrap-servers: localhost:9092

        producer:
          key-serializer: org.apache.kafka.common.serialization.StringSerializer
          value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
        consumer:
          key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
          value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
          properties:
          spring.json.trusted.packages: "*"
    admin:
      auto-create: true

  redis:
    host: localhost
    port: 6379
  cache:
    type: redis

eureka:
  client:
    enabled: false
#    service-url:
#      defaultZone: http://localhost:8761/eureka/
  instance:
    lease-renewal-interval-in-seconds: 10   # gửi heartbeat mỗi 10 giây
    lease-expiration-duration-in-seconds: 30  # instance chết sau 30 giây sẽ bị xóa

feign:
  client:
    config:
      default:
        connectTimeout: 2000
        readTimeout: 5000

resilience4j:
  circuitbreaker:
    instances:
      productServiceCB:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 5s
